.container-about{font-weight: 500;
    color: #381c14;
    background-color: #d0b892;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;

    width: 80%;
    margin: 20px auto;
}

.row-about-header{
    background-color: #381c14;
    min-height: 50px;
    color: #d0b892;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;


}
.line{
    color: black;
}
.row-about{
    padding: 30px 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}
.text-about{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.text-about-item{
    padding: 20px 0;
    text-align: justify;
}

.my_ul li {
    list-style-type: none;
    margin: 10px 0 10px 0;
    background: url("../../images/checkbox.png") left 10px no-repeat;
    background-size: 20px 20px;
}
.my_ul li div {
    padding-left: 3rem;
    text-align: justify;
}

@media (max-width: 767px) {
    .react-img{ order:0}
    .react-descr{ order:1}
    .redux-img{ order:2}
    .redux-descr{ order:3}
    .bootstrap-img{ order:4}
    .bootstrap-descr{ order:5}
    .firebase-img{ order:6}
    .firebase-descr{ order:7}
    .text-about-head { order:8}
    .text-features { order:9}
    .text-about-ty { order:10}
    .container-about {font-size: 14px}

}