.wrapper-modal{
    background-color: #d0b892;
}

.row-header-modal{
    background-color: #381c14;
    min-height: 50px;
    color: #d0b892;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    margin: 10px 10px;
}

.row-body-modal{
    text-align: center;
    min-height: 300px;
}
.row-footer-modal{
    text-align: center;
    min-height: 50px;
    background-color: #381c14;
    margin: 10px 10px;
}
.summary-text{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: auto;

}

.fa-dollar-sign-summary-text{
    font-size: 14px;
}

.btn-back{
    width: 120px;
}