.card{
    margin: 5px 0;
    padding: 10px;
}

.btn-add-to-cart{
    text-transform: uppercase;
    margin: 5px 10px;
    background-color: #d0b892;
}
.btn-add-to-cart:hover{
    background-color: #92806a;
}

.pizza-name{
    background-color: #381c14;
    color: #d0b892;
    padding: 4px 0;
}
.pizza-description{
    font-size: 15px;
    min-height: 100px;
}
.price-area{
    display: inline-block;
}

.fa-dollar-sign-pizzacard{
    font-size: 25px;
    color: #381c14;
}
.price {
    display: inline-block;
    color: #381c14;
    margin-left: 4px;
    font-weight: bold;
    font-size: 23px;
}

.btn-prc-area{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .pizza-description{
        min-height: 110px;
    }
}


@media (max-width: 767px) {

    .price-area {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .pizza-description{
        min-height: 153px;
    }

    .price, .fa-dollar-sign-pizzacard{
        font-size: 20px;
    }
}

@media (max-width: 575px) {

    .price-area {
display: inline-block;
    }
    .pizza-description{
        min-height: 50px;
    }

    .price, .fa-dollar-sign-pizzacard{
        font-size: 20px;
    }
}